<h2>ADD-Contact</h2>

<form [formGroup]="addContactForm" (ngSubmit)="onSubmit()" >
  <h5 class="success" *ngIf="success">Contact added successfully!!!</h5>
  <label>
    First-Name:
    <input type="text" formControlName="firstname">
    <div *ngIf="submitted && addContactForm.controls.firstname.errors " class="error">
      <div *ngIf="addContactForm.controls.firstname.errors.required">First-Name cannot be blank!</div>
    </div>
  </label>

  <label>
    Last-Name:
    <input type="text" formControlName="lastname">
    <div *ngIf="submitted && addContactForm.controls.lastname.errors " class="error">
      <div *ngIf="addContactForm.controls.lastname.errors.required">Last-Name cannot be blank!</div>
    </div>
  </label>

  <label>
    Phone:
    <input type="text" formControlName="phone">
    <div *ngIf="submitted && addContactForm.controls.phone.errors " class="error">
      <div *ngIf="addContactForm.controls.phone.errors.required">Phone cannot be blank!</div>
      <div *ngIf="addContactForm.get('phone').errors.pattern">Phone should be a 10-digit numeric value!</div>
    </div>
  </label>

  <label>
    Email:
    <input type="text" formControlName="email">
    <div *ngIf="submitted && addContactForm.controls.email.errors" class="error">
      <div *ngIf="addContactForm.get('email').errors.pattern">Email is invalid!</div>
    </div>
  </label>

  <input type="submit" value="Add Contact" class="submitBtnClass">
  </form>
