/* Style for the application-container */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;

  a {
      color: white;
  }
}

.headerClass {
  background: rgb(204, 0, 255);

  .logo {
      font-weight: bold;
  }

  .navClass {
      justify-self: center;

      ul {
          list-style-type: none;
          margin: 0; padding: 0;

          li {
              float: left;

              a {
                  padding: 1.5em;
                  text-transform: uppercase;
                  font-size: .8em;
                  border: 1px solid cornsilk;
                  margin: 5px;

                  &:hover {
                      background: #E6D0FF;
                  }
              }
          }
      }
  }
}
