<header class="headerClass">
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav class="navClass">
      <ul>
        <li><a routerLink="/" >Show-Contacts</a></li>
        <li><a routerLink="/contact" >Add-Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
