/* Global Styles for the Application */
/* Import Montserrat font from google-API */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Styles for the body-tag and html-tag for the application */
body, html {
    height: 100%;
    margin: 0 auto;
}

/* Style for the font and color  for the application */
body {
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: #DC143C;
}

/* Style to style anchor tags as buttons */
a {
    text-decoration: none;
}
