/* Style for the SHow-Contact list section */
ul {
  list-style-type: none;
  margin: 0;padding: 0;

  li {
      background: #ffd0d2;
      padding: 1em;
      border-radius: 4px;
      margin-bottom: 7px;
      display: grid;
      grid-template-columns: 600px auto;

      p {
          font-weight: bold;
          margin-left: 20px;
      }
  }
}

  /*SHOW-CONTACT-DETAILS WINDOW*/
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #B3ADE5;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    label{
      font-weight: bold;
      background-color: #2F1AE0;
      padding: 2px;
      font-size: 1.5em;
    }
    p{
      border-radius: 5px;
      border: 2px solid black;
      color: black;
      padding: 10px;
      background-color: #D9DBA8;
    }
  }

  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
  }
