<h2>CONTACTS</h2>

<ul *ngIf="contacts">
  <li *ngFor="let contact of contacts">
    <div [id]="contact._id" (click)="onSelect(contact._id)">
      <p>{{ contact.lastname }}, {{ contact.firstname }}</p>
    </div>
  </li>
</ul>

<div *ngIf="showDetails" id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content" *ngIf="selectedContact">
    <span class="close" (click)="closeModal()" >&times;</span>
    <label>Contact-Details:</label>
    <p>FIRST-NAME: {{ selectedContact.firstname }}</p>
    <p>LAST-NAME: {{ selectedContact.lastname }}</p>
    <p>PHONE: {{ selectedContact.phone }}</p>
    <p>EMAIL: {{ selectedContact.email }}</p>
  </div>
</div>
